



* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
      
height: 2000px;

    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* ---------------------------------- */


  body{

    /* background-image: url(pexels-henry-&-co-1939485.jpg);  */
    background-image: linear-gradient(rgb(248, 247, 247), rgb(134, 134, 136), rgb(45, 45, 65)  );
    background-size: cover;
    background-attachment: fixed;
    
    /* height: 2000px; */
    
    }

main{
display: flex;

 justify-content: center; 
}

.bloco{
background-color: rgb(245, 243, 243);
height: 80vh;
width:73vh ;
margin-top: 2vh;
margin: 3vh;
/* display: flex;  */
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
/* ------------- */
}



.ull{
height: 30%;
width: 100%;
/* border: 1px solid black; */
background-color: #bfbfc4a8;
list-style:none;
color: rgb(7, 3, 3);


}
/* #lii{margin-top: 60px;} */

img{
 
  height: 70%;
width: 100%;
}

a>button{

background-color: rgb(21, 190, 21);
color: aliceblue;
border: 1px  solid black ;
border-radius: 16px;
height: 6vh;
width: 14vh;


/* position: relative; */
overflow: hidden;

max-width: 100%;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: all 0.5s;
}

a>button:hover{

  background-color: rgb(255, 255, 255);
  color: green;
  border: 1px  solid black ;
  border-radius: 16px;
  height: 6vh;
  width: 14vh;
cursor: pointer;

-moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);


}


@media (max-width: 999px) {
  main {
    display: block;
    
  }
.bloco{

height:70vh;
width: 45vh;
padding: 8px;
}
img{
border: 1px solid black;
height: 50%;
width: 100%;
margin: 0px;
}

a>button{

  background-color: rgb(21, 190, 21);
  color: aliceblue;
  border: 1px  solid black ;
  border-radius: 16px;
  height: 6vh;
  width: 14vh;
  
 
  }
  
  


}
    