





* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
    overflow-x: hidden;/* /////// */
    
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
@media(min-width:999px){
    #q1{background-attachment: fixed; 
}
#q3{

  background-attachment: fixed; 

}

}


  @media (max-width: 999px) {
    body {
      overflow-x: hidden; /* ////// */
      
      
height: 2000px;

    }

    #q1{
     background-attachment: local;
    }


    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  /* ---------------------------------- */


  body{

    
    background-image: linear-gradient( rgb(45, 45, 65), rgb(134, 134, 136), rgb(248, 247, 247) );
    background-size: cover;
    background-attachment: fixed;
    
    height: 2000px;
    
    }
    
    footer, footer>a{
      color: purple; background-color: #23232e; text-align: center; font-family: Georgia, 'Times New Roman', Times, serif;
    }
    main{
     margin: auto;
    background-color: white;
    max-width: 800px  ;
    height: 2100px;
   
   
    }
    #q1{
      text-align: center;
     padding-top: 100px;
     
      width: 100%;
    height: 500px;
    background-image: url(pexels-thirdman-7653977.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }



    #p1{
    font-size: xx-large;
     font-style: italic;
     background-color: rgba(0, 0, 0, 0.863);
    border-radius: 16px;
    color: rgb(255, 255, 255)
    
    
    }
    
    
    
    #q2{
      
      padding-top: 100px;
      background-attachment: fixed; 
      text-align: center;
       width: 100%;
     height: 500px;
     
     background-repeat: no-repeat;
     background-size: cover;
     }
     #p2{
     font-size: xx-large;
      font-style: italic;
    
     
     
     }
    
    
    
    
    
    #q3{
      
      padding-top: 100px;
      
       width: 100%;
     height: 500px;
     background-image: url(pexels-emre-can-acer-2079246.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     
     }

 

     #p3{
     font-size: xx-large;
      font-style: italic;
     background-color: rgba(0, 0, 0, 0.863);
     border-radius: 16px;
     color: rgb(255, 255, 255)
     
     
     }
    
     #q4{
      
      padding-top: 100px;
      text-align: center;
       width: 100%;
     height: 100px;
     
     background-color: rgb(255, 255, 255);
     
     }
     #p4{
     font-size: xx-large;
      font-style: italic;     
     }
    
    
    
    













































