



* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  main {
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
       overflow-x: hidden;
      


    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }
  /* ---------------------------------- */
body{
background-image: linear-gradient( rgb(45, 45, 65), rgb(134, 134, 136), rgb(248, 247, 247) );
background-size: cover;
background-attachment: fixed;
}
@media (min-width: 999px){
body{
background-image: linear-gradient( rgb(45, 45, 65), rgb(134, 134, 136), rgb(248, 247, 247) );
background-size: cover;
background-attachment: fixed;       
}
.mmain{display: flex;justify-content: center;} 
#lote1{  
border-radius: 16px;
background-color: rgb(255, 253, 253);
height: 80vh;
width: 280px;
margin: 10px;
background-image: url(Torre\ metropolis.jpg);
background-size: cover;
max-width: 100%;
-moz-transition: all 0.5s;
-webkit-transition: all 0.5s;
transition: all 0.5s;
position: relative;
border: 1px solid #000;
overflow: hidden; text-align: center
} 
#lote1:hover{
border-radius: 16px;
background-color: rgb(255, 253, 253);
height: 75vh;
width: 230px;

margin: 10px;
background-image: url(Metropolis.jpg) ;
background-size: cover;
background-position: center;
-moz-transform: scale(0.9);
-webkit-transform: scale(0.9);
transform: scale(0.9);

}

#lote2{  
  border-radius: 16px;
  background-color: rgb(255, 253, 253);
  height: 80vh;
  width: 280px;
  margin: 10px;
  background-image: url(Instacia\ do\ sol.jpg);
  background-size: cover;
  background-position: right;
  max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  border: 1px solid #000;
  overflow: hidden; 
  text-align: center;
  } 
  #lote2:hover{
  border-radius: 16px;
  background-color: rgb(255, 253, 253);
  height: 75vh;
  width: 230px;
  margin: 10px;
  background-image: url(Dosol.jpg) ;
  background-size: cover;
  background-position: left;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  }

  #lote3{  
    border-radius: 16px;
    background-color: rgb(255, 253, 253);
    height: 80vh;
    width: 280px;
    margin: 10px;
    background-image: url(IMG-20230829-WA0063.jpg);
    background-size: cover;
    background-position: right;
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: relative;
    border: 1px solid #000;
    overflow: hidden; 
    text-align: center;
    } 
    #lote3:hover{
    border-radius: 16px;
    background-color: rgb(255, 253, 253);
    height: 75vh;
    width: 230px;
    margin: 10px;
    background-image: url(IMG-20230829-WA0062.jpg) ;
    background-size: cover;
    background-position: left;
    -moz-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    }
  
    #lote4{  
      border-radius: 16px;
      background-color: rgb(255, 253, 253);
      height: 80vh;
      width: 280px;
      margin: 10px;
      background-image: url(IMG_20230701_132606.jpg);
      background-size: cover;
      background-position: right;
      max-width: 100%;
      -moz-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      position: relative;
      border: 1px solid #000;
      overflow: hidden; 
      text-align: center;
      } 
      #lote4:hover{
      border-radius: 16px;
      background-color: rgb(255, 253, 253);
      height: 75vh;
      width: 230px;
      margin: 10px;
      background-image: url(IMG_20230701_132610.jpg) ;
      background-size: cover;
      background-position: left;
      -moz-transform: scale(0.9);
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
      }

      }

/* /////////////////////////////////////// */
@media (max-width: 999px){
body {
overflow-x: hidden;
  }
main{
  flex-direction: column; 
  text-align: center;
  height: 2000px;
}
#lote1{
 border: #000 solid 1px;
  background-color: rgb(255, 253, 253);
  height: 40vh;
  width: 52vh;
  margin-top: 10px;
  background-image: url(Metropolis.jpg);
  background-size: cover;
  background-position: center;
}

#lote2{
  border: #000 solid 1px;
   background-color: rgb(255, 253, 253);
   height: 40vh;
   width: 52vh;
   margin-top: 10px;
   background-image: url(Instacia\ do\ sol.jpg);
   background-size: cover;
   
 }
 #lote3{
  border: #000 solid 1px;
   background-color: rgb(255, 253, 253);
   height: 40vh;
   width: 52vh;
   margin-top: 10px;
   background-image: url(IMG-20230829-WA0062.jpg);
   background-size: cover;
 }


 #lote4{
  border: #000 solid 1px;
  background-color: rgb(255, 253, 253);
  height: 40vh;
  width: 52vh;
  margin-top: 10px;
  background-image: url(IMG_20230701_132610.jpg);
  background-size: cover;
 }




 






.ull{
background-color: #1e1e1fcc;
height:100% ;
width:100% ;  
}

.ull:hover{

background-color: #0000ff00;
height:100% ;
width:100% ;
}



}